@font-face {
    font-family: Roboto;
    src: url(./Roboto-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;

}

body {
    background-color: yellowgreen;
    color: #000;
}

.container,
.container2 {
    text-align: center;
}

h1,
h2 {
    margin-top: 1rem;
}

.input,
#input_calculyator {
    width: 200px;
    height: 1.8rem;
    margin-top: 1rem;
    border: 1px solid black;
}
#input_calculyator{
    width: 210px !important;
    height: 1.8rem !important;
}

button,
.button_calculator {
    height: 1.8rem;
    width: 2.5rem;
    background: red;
    border: 1px solid red;
    cursor: pointer;
    color: #fff;
}

.button_calculator {
    width: 4rem;
}

p,
#result {
    margin-top: 1rem;
}